.table {
    cursor: pointer;
}

.table tr:hover {
    opacity: .3;
}

.table th {
    padding: 8px;
    border: 1px solid black;
}

.table td {
    padding: 8px;
    border: 1px solid black;

    transition: background-color 0.3s ease-in-out;
}

.table td.changed {
    background-color: #fffacd;
}